body
{
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    background-image: url("skis.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3
{
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    text-align: center;
}
a
{
    color: #777;
    text-decoration: none;
}
a:hover
{
    opacity: 1;
    text-decoration: none;
}
#login
{
    display: none;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
}
.welcome
{
    padding-top: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.media
{
    padding-top: 18px;
}
#loggedin
{
    background-color: white;
    display: none;
    width: 50%;
    text-align: center;
    color: #000;
    margin: auto;
}
#description
{
    padding: 50px 80px;
    text-align: center;
    color: #000;
    margin: auto;
}
#op_btn_container
{
    text-align: center;
    color: #000;
    margin: auto;
    display: flex;
}
.left
{
    width: 50%;
    float: left;
}
.right
{
    margin: auto;
    width: 50%;
    float: right;
}
.btn
{
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    text-align: center;
    background-color: #111;
    opacity: .65;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.btn2
{
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    text-align: center;
    background-color: #111;
    opacity: .65;
    color: #fff;
    padding: 18px;
    font-size: 15px;
    letter-spacing: 5px;
    border: none;
    text-decoration: none;
    display: block;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn2:hover
{
    background-color: black;
}
